
.main-content {
    /* background-color: red; */
    flex-basis: 47%;
}

.story-gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    cursor: pointer;

}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

#story1{    
    background-image: linear-gradient(transparent, rgba(0,0,0,0.6)), url(../../../images/status-1.png);
}

#story1 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    width: 25px;
    border: none;

}
#story2{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../../../images/status-2.png);
}

#story3{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../../../images/status-3.png);
}

#story4{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../../../images/status-4.png);
}
#story5{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../../../images/status-5.png);
}



.story img{
    position: absolute;
    width: 35px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 3px solid var(--primary-color);
}

.story p {
    bottom: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
    color: var(--color-white);
    font-size: 14px;
}

