<!-- SECTION Left Sidebar -->
<div class="left-sidebar">
    <div class="imp-links">
        <a href="#"><img src="images/news.png" alt="" srcset="">Latest News</a>
        <a href="#"><img src="images/friends.png" alt="" srcset="">Friends</a>
        <a href="#"><img src="images/group.png" alt="" srcset="">Groups</a>
        <a href="#"><img src="images/marketplace.png" alt="" srcset="">Market Place</a>
        <a href="#"><img src="images/watch.png" alt="" srcset="">Watch</a>
        <a href="#" style="color: var(--primary-color);">See More</a>
    </div>
    <div class="shortcut-links">
        <h4>Your Shortcuts</h4>
        <a href="#"><img src="images/shortcut-1.png" alt="" srcset="">Shortcuts 1</a>
        <a href="#"><img src="images/shortcut-2.png" alt="" srcset="">Shortcuts 2</a>
        <a href="#"><img src="images/shortcut-3.png" alt="" srcset="">Shortcuts 3</a>
        <a href="#"><img src="images/shortcut-4.png" alt="" srcset="">Shortcuts 4</a>
        <a href="#" style="color: var(--primary-color);">See More</a>
    </div>

</div>
<!-- !SECTION Left Sidebar -->