<!-- SECTION Right Sidebar -->
<div class="right-sidebar">
    <section id="events">
        <div class="sidebar-title">
            <h4>Upcoming Events </h4>
            <a href="#">See all</a>
        </div>

        <div class="event">
            <div class="left-event">
                <h3>18<sup>th</sup></h3>
                <span>March</span>
            </div>
            <div class="right-event">
                <h3>Social Connect Event</h3>
                <p><i class="fa-solid fa-location-dot"></i> BLR, IN</p>
                <a href="#">More info</a>
            </div>

        </div>

        <div class="event">
            <div class="left-event">
                <h3>1<sup>st</sup></h3>
                <span>June</span>
            </div>
            <div class="right-event">
                <h3>Angular Dev's Event</h3>
                <p><i class="fa-solid fa-location-dot"></i> London, UK</p>
                <a href="#">More info</a>
            </div>

        </div>

    </section>
    <br>
    <hr>

    <section id="birthdays">
        <div class="sidebar-title">
            <h4>Birthdays</h4>
        </div>
        <span>
            <i class="fa-solid fa-gift"></i> <strong>Usr Name1 and Usr Name2</strong>
            have their birthdays today
        </span>



    </section>
    <br>
    <br>
    <hr>
    <section id="advertisement">
        <div class="sidebar-title">
            <h4 style="color: var(--secondary-text-color)">Ads based on your interest </h4>
            <a href="#"><i class="fa-solid fa-circle-xmark"></i></a>
        </div>
        <img src="images/advertisement.png" alt="" srcset="" class="sidebar-ads">


    </section><br>
    <hr>



    <section id="chatwindow">
        <div class="sidebar-title">
            <h4>Contacts </h4>
            <a href="#">Hide</a>
        </div>


        <div class="online-list">
            <div class="online">
                <img src="images/member-1.png" alt="" srcset="">
            </div>
            <p>User 1</p>

        </div>
        <div class="online-list">

            <div class="online">
                <img src="images/member-2.png" alt="" srcset="">
            </div>
            <p>User 2</p>

        </div>
        <div class="online-list">

            <div class="online">
                <img src="images/member-3.png" alt="" srcset="">
            </div>
            <p>User 3</p>
        </div>
        <div class="online-list">

            <div class="online">
                <img src="images/member-4.png" alt="" srcset="">
            </div>
            <p>User 4</p>
        </div>
    </section>
</div>
<!-- !SECTION Right Sidebar -->